#map_canvas { 
	height: 450px;
	width: 100%;
}

.store-list {
	padding: 0 0 0 30px;
	border-left: 4px solid var(--paletteColor1);
}
ul.store {
	margin-bottom: 0;
	padding-left: 0;
}
@media screen and (max-width: 600px) {
	.store-list {
		padding: 0;
		border: none;
	}
	ul.store {
		margin-bottom: 10px;
	}
	ul.store:after {
		display: block;
		content: '...';
		margin-top: 5px;
	}
	ul.store:last-child:after {
		content: none;
	}
}
ul.store li {
	display: inline;
	padding-right: 6px;
}
ul.store li:after {
	margin-left: 6px;
	content: '•';
}
ul.store li:last-child:after {
	margin-left: 0;
	content: '';
}
ul.store .city {
	text-transform: uppercase;
}